{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
 
 {% for restaurant in restaurants %}
 <li>{{ restaurant.name }} </li>
  <li>{{ restaurant.id }} </li>

<a href="{{path('produitrestaurant',{'id':restaurant.id}) }}">ici</a>


 {% endfor %}


{% endblock %}
