 {% extends 'base.html.twig' %}
 {% block title %}  {% endblock %}
{% block body %}
 <section class="popular-items latest-padding">
            <div class="container">
                <div class="row product-btn justify-content-between mb-40">
                    <div class="properties__button">
                        <!--Nav Button  -->
                        <nav>                                                      
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Nos produits</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Nouveautés</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Nos meilleures ventes </a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                    <!-- Grid and List view 
                    <div class="grid-list-view">
                    </div>
                    <!-- Select items -->
    
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">  

                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <h1>Nos produits</h1>
                        <div class="row">
                
                         {% for product in products %}
                       {% include 'main/produitrestaurant.html.twig' %}

                        {% endfor %}
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <h1>Nouveautés</h1>
                        <div class="row">
                  <!-- for card 2 ou autre categorie -->
                        </div>
                        </div>
                      
                         
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
                            <h1>Meilleures ventes  </h1>
                            <div class="row">
                  
                       <!-- for card 3 ou autre categorie -->
                        </div>
                   
                        </div>
                    </div>
                </section>
                 {% endblock %}