
    <table>
        <thead>
            <tr>
                <div class="search-model-form">
                    {{ form_start(form) }}
                    <th scope="col">{{ form_row(form.query, {'attr': {'class': 'form-control','placeholder':'ville / produit / restaurant'}}) }}</th>
                    <th scope="col"> {{ form_end(form) }}</th>
                 </div>
             </tr>
            </thead>
         </table>
    </div>
