{% extends 'baseLivreur.html.twig' %}

{% block title %}Hello InfoLivreurController!{% endblock %}

{% block body %}


<h1>Bonjour ! </h1>

<h3>Merci de remplir les informations de votre véhicule <a href="{{path('info_vehicle')}}" style="color:red;"> ici</a></h3>
<h4>Bonne Livraison ! </h4>


{% endblock %}
